@font-face {
    font-family: Mrs-Eaves-Roman-Italic;
    src: url("/fonts/MRSEAV3.TTF") format('truetype');
}
@font-face {
    font-family: Garamond-Italic;
    src: url("/fonts/Garamond Italic.ttf") format('truetype');
}

@font-face {
    font-family: Mr-Eaves-Mod-OT-Bold;
    src: url(/fonts/MrEavesModOT-Bold.otf);
}

.workshop {
	min-height: 180px;
	width: 800px;
}

.workshop-img {
	height:150px;
	width:150px;

}

.workshop-img--placeholder-odd {
	background: linear-gradient(135deg, #75C9BC, #00B2E2);
	background-clip:content-box;
	padding: 10px 10px 10px 0px; 
	float:left;
}

.workshop-img--placeholder-even {
	background: linear-gradient(135deg, rgb(151,222,225), #00B2E2);
	background-clip:content-box;
	padding: 10px 0px 10px 10px;  
	float:right;
}

.workshop-image--women {
	background: linear-gradient(135deg, #E21073, #562368);
	background-clip: content-box;
}

.speaker-placeholder-img {
	height: 250px;
	width: 250px;
	background: linear-gradient(135deg, #75C9BC, #00B2E2);
	background-clip:content-box;
	padding: 10px 10px 10px 0px; 
	float:left;
}
.workshop-title{
	display: inline;
}
.workshop-speaker{
	display: inline-block;
	padding: 0px 10px;
}

.speaker {
	min-height: 400px;
	width: 800px;
}

.speaker-img {
	max-width: 200px;
	padding: 10px 10px 10px 0px;
}

.speaker--float-left {
	float: left;
}

.site-header {
	background: linear-gradient(135deg, #00B2E2,#75C9BC);
}

.special{
	display:block;
	background-image:url('/images/kingdom logo web-02-02.png');
	background-size: 2500px 300px;
}

.site-nav .page-link {
	color:#FEFEFE;
}

h1 {
	font-family: Mr-Eaves-Mod-OT-Bold, Helvetica, Arial, sans-serif;
}

.site-footer .wrapper > p {
	font-size: 12px;
	color: #B8B8B8;
}

.site-footer .wrapper p > a {
	color: #5a5a5a;
}